<!--

<mat-toolbar *ngIf="auth.isLoggedIn()" color="primary" class="navbar">
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Kardex</h1>

    <span class="nav-item">
      <a routerLink="/login" (click)="auth.logout()" class="nav-link">Logout</a>
    </span>
    
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <mat-sidenav-container *ngIf="auth.isLoggedIn()">
    <mat-sidenav #sideNav [(opened)]="opened" mode="side">
      
      <mat-nav-list>
        <a mat-list-item routerLink="/profile">
          <mat-icon class="icono">account_circle</mat-icon>Profile
        </a>
      </mat-nav-list>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <a mat-list-item routerLink="/admin">
          <mat-icon class="icono">Admin</mat-icon>Admin
        </a>
      </mat-nav-list>
  
      <mat-divider></mat-divider>    

      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <mat-icon class="icono">home</mat-icon>Home
        </a>
      </mat-nav-list>
  
      <mat-divider></mat-divider>    
  
      <mat-nav-list>
        <a mat-list-item routerLink="/addProvider">
          <mat-icon class="icono">playlist_add</mat-icon>Crear proveedor
        </a>
      </mat-nav-list>

      <mat-divider></mat-divider>
  
  
      <mat-nav-list>
        <a mat-list-item routerLink="/listProvider">
          <mat-icon class="icono">list_alt</mat-icon>Listar proveedor
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item routerLink="/addProduct">
          <mat-icon class="icono">playlist_add</mat-icon>Crear producto
        </a>
      </mat-nav-list>

      <mat-divider></mat-divider>
  
  
      <mat-nav-list>
        <a mat-list-item routerLink="/listProduct">
          <mat-icon class="icono">list_alt</mat-icon>Listar producto
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a mat-list-item routerLink="/category">
          <mat-icon class="icono">list_alt</mat-icon>Categoria
        </a>
      </mat-nav-list>

      <mat-divider></mat-divider>
  
    </mat-sidenav>
    <mat-sidenav-content>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

-->

  <!--
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      Angular
    </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        </ul>
  
        <div style="text-align: center;">
          <button (click)=contacto() class="btn btn-outline-primary my-2 my-sm-0">Contacto</button>
          <button (click)=login() style="margin-left: 10px;margin-right: 305px;" class="btn btn-outline-primary my-2 my-sm-0">Login</button>
          <button (click)=listar() class="btn btn-outline-primary my-2 my-sm-0">Listar</button>
          <button (click)=nuevo() class="btn btn-outline-primary my-2 my-sm-0">Agregar</button>
        </div>
       
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
    
  </div>
  </nav>
  
  -->
  
  