<div class="container-fluid" style="width: 80%;">
    <div class="card">
      <div class="card-header">
        <h5>Administradores</h5>
      </div>
      <div class="card-body">
        <button class="btn btn-outline-success" (click)="limpiar()" data-toggle="modal" data-target="#AgregarAdmin">Agregar Usuario</button>
         
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
          </div>
          <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
        </div>
        <div class="table-responsive">
        <table class="table row-border hover table-striped table-bordered">
          <thead style="font-size:90%;" class="thead-dark">
            <tr>
              <th>Nombre Administrador</th>
              <th>Correo</th>
              <th>Rol</th>
              <th style="text-align: center; width: 10%;" colspan="3">ACCIONES</th>
              
            </tr>
          </thead>
          <tbody style="font-size:90%;" >
            <tr *ngFor="let admin of admins | filter:filterPost | paginate: {itemsPerPage: 5, currentPage: pageActual};" class="text-center">
              <td>{{admin.name}}</td>
              <td>{{admin.email}}</td>
              <td>{{admin.rol}}</td>
              
              <td style="justify-content: space-around">
                <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="Editar(admin)"  class="btn btn-outline-primary" data-toggle="modal" data-target="#EditarAdmin"><mat-icon>edit</mat-icon></button>&nbsp;
                <button (click)="Delete(admin)" class="btn btn-outline-danger" ><mat-icon>delete</mat-icon></button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
      </div>
    </div>
  </div>


   <!-- Modal Registrar -->
 <div class="modal fade" id="AgregarAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
            <mat-card class="contact-card">
              <mat-card-header>
                <mat-card-title><mat-icon>person_add</mat-icon>&nbsp; Registrar Administrador</mat-card-title>
              </mat-card-header>
              <mat-card-content>
            <form autocomplete="off" [formGroup]="adminForm" novalidate>
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="admin.name" formControlName="name" name="name" type="text" matInput placeholder="Ingrese Nombre">
              <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <mat-error *ngIf="name.errors.required">
                  Nombre Requerido
                </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input [(ngModel)]="admin.email" formControlName="email" name="email" type="email" matInput placeholder="Ingrese Email">
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                  <mat-error *ngIf="email.errors.required">
                    Nombre Requerido
                  </mat-error>
                  </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)]="admin.password" formControlName="password" name="password" type="password" matInput placeholder="Ingrese Email">
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                  <mat-error *ngIf="password.errors.required">
                    Nombre Requerido
                  </mat-error>
                  </mat-error>
              </mat-form-field>
        
            <mat-form-field>
              <mat-label>Rol</mat-label>
              <select matNativeControl [(ngModel)]="admin.rol" formControlName="rol" name="rol" required>
        
                <option value="true" selected disabled>Seleccione Rol</option>
                <option value="1">Administrador</option>
                <option value="2">Usurio</option>
        
              </select>
              <mat-error *ngIf="rol.invalid && (rol.dirty || rol.touched)">
                <mat-error *ngIf="rol.errors.required">
                  Rol Requerido
                </mat-error>
                </mat-error>
            </mat-form-field>
            <div class="footer">
            <div class="row">
              <div class="col-md-12 mb-3">
            <button (click)="Save(admin)" [disabled]="!adminForm.valid" class="btn btn-primary">Guardar</button>
            <button style="float:right;" type="button" #btnCloseAdd data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
            </div>
            </div>
          </div>
          </form>
          </mat-card-content>
          </mat-card>
  
          </div>
      </div>
    </div>
  </div>






  <!-- Modal Actualizar -->
 <div class="modal fade" id="EditarAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Actualizar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
            <mat-card class="contact-card">
              <mat-card-header>
                <mat-card-title><mat-icon>person_add</mat-icon>&nbsp; Actualizar Categoria</mat-card-title>
              </mat-card-header>
              <mat-card-content>
            <form autocomplete="off" [formGroup]="adminForm" novalidate>
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="admin.name" formControlName="name" name="name" type="text" matInput placeholder="Ingrese Nombre">
              <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <mat-error *ngIf="name.errors.required">
                  Nombre Requerido
                </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input [(ngModel)]="admin.email" formControlName="email" name="email" type="email" matInput placeholder="Ingrese Email">
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                  <mat-error *ngIf="email.errors.required">
                    Nombre Requerido
                  </mat-error>
                  </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)]="admin.password" formControlName="password" name="password" type="password" matInput placeholder="Ingrese Email">
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                  <mat-error *ngIf="password.errors.required">
                    Password Requerido
                  </mat-error>
                  </mat-error>
              </mat-form-field>
        
            <mat-form-field>
              <mat-label>Rol</mat-label>
              <select matNativeControl [(ngModel)]="admin.rol" formControlName="rol" name="rol" required>
        
                <option value="true" selected disabled>Seleccione Rol</option>
                <option value="1">Administrador</option>
                <option value="2">Usurio</option>
        
              </select>
              <mat-error *ngIf="rol.invalid && (rol.dirty || rol.touched)">
                <mat-error *ngIf="rol.errors.required">
                  Rol Requerido
                </mat-error>
                </mat-error>
            </mat-form-field>
            <div class="footer">
            <div class="row">
              <div class="col-md-12 mb-3">
            <button (click)="Update(admin)" [disabled]="!adminForm.valid" class="btn btn-primary">Guardar</button>
            <button style="float:right;" type="button" #btnCloseUpdate data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
            </div>
            </div>
          </div>
          </form>
          </mat-card-content>
          </mat-card>
  
          </div>
      </div>
    </div>
  </div>
  
  
  
  
